<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
   <key>CFBundleExecutable</key>
   <string>Packet Serial Tool</string>
   <key>CFBundleName</key>
   <string>Packet Serial Tool</string>
   <key>CFBundleIdentifier</key>
   <string>com.dmfe.packetserialtool</string>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   <key>CFBundleVersion</key>
   <string>1.0.0.2.1</string>
   <key>CFBundleDevelopmentRegion</key>
   <string>en</string>
   <key>CFBundlePackageType</key>
   <string>APPL</string>
   <key>CFBundleSignature</key>
   <string>????</string>
   <key>NSHumanReadableCopyright</key>
   <string>DMFE 2019</string>
   <key>CFBundleShortVersionString</key>
   <string>1.0b1</string>
   <key>CFBundleIconFile</key>
   <string>App</string>
   <key>LSMinimumSystemVersion</key>
   <string>10.10.0</string>
<key>NSHighResolutionCapable</key><true/>
<key>CFBundleSupportedPlatforms</key><array><string>MacOSX</string></array>
   <key>UTImportedTypeDeclarations</key>
   <array>
      <dict>
         <key>UTTypeIdentifier</key>
         <string>public.text</string>
         <key>UTTypeConformsTo</key>
         <array>
            <string>public.data</string>
            <string>public.content</string>
         </array>
         <key>UTTypeTagSpecification</key>
         <dict>
            <key>public.filename-extension</key>
            <array>
            <string>asc</string>
            <string>ascii</string>
            <string>bas</string>
            <string>c</string>
            <string>class</string>
            <string>cp</string>
            <string>cpp</string>
            <string>h</string>
            <string>hp</string>
            <string>hpp</string>
            <string>i3</string>
            <string>java</string>
            <string>m2</string>
            <string>m3</string>
            <string>mak</string>
            <string>text</string>
            <string>txt</string>
            </array>
            <key>com.apple.ostype</key>
            <array>
               <string>TEXT</string>
            </array>
         </dict>
      </dict>
   </array>

</dict>
</plist>